@import "colors"

body
  background-color: #fff
  color: lighten($app-red, 20%)
  font-family: Georgia,serif

p
  font-family: url('../fonts/roboto/Roboto-Light.ttf')
  // font-family: tahoma, sans-serif
  font-size: 4em

// font-family: avante garde, sans-serif
//    for the header
