@import "colors"

// font-face
//   font-family: roboto-light
//   src: url(../fonts/roboto/Roboto-Light.ttf)

body
  background-color: #fff
  color: lighten($app-red, 20%)


p
  font-family: futura
  font-size: 4em

// font-family: avante garde, sans-serif
//    for the header
